ul {
    list-style: none;
}

.nlink {
    font-size: 20px;
    color: white;
    margin: 0 10px 0 10px;
}

.navbar {
    background: #49110c;
    height: 50px;
    align-items: baseline;
}

.navcenter {
    align-content: center;
}

.navtext {
    font-size: 1.75em;
    font-family: 'Dosis', sans-serif;
    color: white;
    margin: 5px auto 0 auto;
    display: inline-block;
}

.logo {
    height: 35px;
}

.wrapper {
    display: inline-block;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0em;
    right: 30%;
    bottom: 0;
    left: 30%;
    margin: 0 -600px;
    background-size: cover;
    z-index: -2;
    overflow: scroll;
}

#headline {
    width: 40% !important;
    margin: 100px auto 50px auto;
    background: white;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Dosis', sans-serif;
    vertical-align: center;
}

h3 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

p {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    margin: 0 35px 0 35px;
}