
.wrapper {
    display: inline-block;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0em;
    right: 30%;
    bottom: 0;
    left: 30%;
    margin: 0 -600px;
    background-size: cover;
    z-index: -2;
    overflow: scroll;
}

.content {
    width: 75%;

    margin: 160px auto 50px auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    vertical-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.namelogo {
    width: 80%;
    padding: 50px;
    border: 4px solid #b0896a;
    border-radius: 10px;
}

.rounddotlogo {
    height: 1.5em;
    margin: 0 .5em 0 .5em;
}

h1 {
    font-size: 4em !important;
    margin: 0;
}