ul {
    list-style: none;
}

.nlink {
    font-size: 20px;
    color: white;
    margin: 0 10px 0 10px;
}

.navbar {
    background: #49110c;
    height: 50px;
    vertical-align: top;
}

.navcenter {
    align-content: center;
}

.navtext {
    font-size: 1.75em;
    font-family: 'Dosis', sans-serif;
    color: white;
    margin: 5px auto 0 auto;
    display: inline-block;
}

.logo {
    height: 35px;
}

.wrapper {
    display: inline-block;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0em;
    right: 30%;
    bottom: 0;
    left: 30%;
    margin: 0 -600px;
    background-size: cover;
    z-index: -2;
    overflow: scroll;
}

.name {
    width: 40%;
    height: 450px;
    margin: 100px auto 50px auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    vertical-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounddotlogo {
    height: 1.5em;
    margin: 0 .5em 0 .5em;
}

h1 {
    font-size: 4em !important;
    margin: 0;
}